
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
   
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="/static/logo.png" width="150px">
            </div>
        
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>    
                    <li><a href="products.html">Products</a></li>
                    <li><a href="user2.html">Account </a></li>
                    <li><a href="contact.html">Contact</a></li>
                
        
                </ul>
            </nav>
            <img src="/static/cart.png" width="30px" height="30px">           
        </div>
       
</div>




<div class="accountpage">
    <div class="container">
        <div class="row">
            <div class="col2">
                <img src="/static/image1.png" width="100%">
            </div>
            
        
            <h4>
                {{res}}
            </h4>

            <form method="POST" action="/delete">
                <div>
                        <h5>Enter 'product' and the name of the product you want to delete from your cart</h5>
                        <input type="text"  name="product" >
                        <input type="text" name="name">
                    <button type="delete">Delete</button>
                </div>
              </form>
              


               
            </div>
            </div>
        </div>
    </div>
</div>



  

<div class="brands">
    <div class="smallcontainer">
        <div class="row">
            <div class="col5">
                <img src="/static/logo-godrej.png">
            </div>
            <div class="col5">
                <img src="/static/logo-oppo.png">
            </div>
            <div class="col5">
                <img src="/static/logo-paypal.png">
            </div>
            <div class="col5">
                <img src="/static/logo-coca-cola.png">
            </div>
            <div class="col5">
                <img src="/static/logo-philips.png">
            </div>
        </div>
    </div>
</div>




    </body>


</html>